@model FlightSchedule.Enities.Airline

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Airline</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (Model == null)
                {
                    <h6>@ViewBag.ErrMsg</h6>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="NameEN" class="control-label"></label>
                        <input asp-for="NameEN" class="form-control" />
                        <span asp-validation-for="NameEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NameAR" class="control-label"></label>
                        <input asp-for="NameAR" class="form-control" />
                        <span asp-validation-for="NameAR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IATA" class="control-label"></label>
                        <input asp-for="IATA" class="form-control" />
                        <span asp-validation-for="IATA" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ICAO" class="control-label"></label>
                        <input asp-for="ICAO" class="form-control" />
                        <span asp-validation-for="ICAO" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AirlineEmail" class="control-label"></label>
                        <input asp-for="AirlineEmail" class="form-control" />
                        <span asp-validation-for="AirlineEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                }
            }

                   
   
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
